<div  class="modal-content modal-xl register-container">
    <h2>Registro de Especialistas</h2>
    <form [formGroup]="registerForm">

      <div class="form-group">
        <select id="minutos" formControlName="minutos">
            <option value="30">30</option>
            <option value="30">60</option>
        </select>
        <!-- <ng-container *ngIf="nombre?.hasError('pattern')|| nombre?.invalid && formularioEnviado">
          <small class="text-danger">Sólo debe contener letras</small>
        </ng-container> -->
      </div>
      <div class="form-group">
        <input id="lunes" type="checkbox" formControlName="lunes">
        <!-- <ng-container *ngIf="nombre?.hasError('pattern')|| nombre?.invalid && formularioEnviado">
          <small class="text-danger">Sólo debe contener letras</small>
        </ng-container> -->
      </div>
      <div class="form-group">
        <input id="martes" type="checkbox" formControlName="martes">
        <!-- <ng-container *ngIf="nombre?.hasError('pattern')|| nombre?.invalid && formularioEnviado">
          <small class="text-danger">Sólo debe contener letras</small>
        </ng-container> -->
      </div>
      <div class="form-group">
        <input id="miercoles" type="checkbox" formControlName="miercoles">
        <!-- <ng-container *ngIf="nombre?.hasError('pattern')|| nombre?.invalid && formularioEnviado">
          <small class="text-danger">Sólo debe contener letras</small>
        </ng-container> -->
      </div>
      <div class="form-group">
        <input id="jueves" type="checkbox" formControlName="jueves">
        <!-- <ng-container *ngIf="nombre?.hasError('pattern')|| nombre?.invalid && formularioEnviado">
          <small class="text-danger">Sólo debe contener letras</small>
        </ng-container> -->
      </div>
      <div class="form-group">
        <input id="viernes" type="checkbox" formControlName="viernes">
        <!-- <ng-container *ngIf="nombre?.hasError('pattern')|| nombre?.invalid && formularioEnviado">
          <small class="text-danger">Sólo debe contener letras</small>
        </ng-container> -->
      </div>
      <div class="form-group">
        <input id="sabado" type="checkbox" formControlName="sabado">
        <!-- <ng-container *ngIf="nombre?.hasError('pattern')|| nombre?.invalid && formularioEnviado">
          <small class="text-danger">Sólo debe contener letras</small>
        </ng-container> -->
      </div>
  
      <button>Registrarse</button>
    </form>
</div>
