.main-container{
    background-image:url("/assets/images/hospital.jpg");
    background-size: cover;
    justify-content: center;
    min-height: 94.5vh;
    margin: 0;
    display: flex;
    align-items: center;
    .pasos{
        width: 95vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        .especialistas,.especialidades,.dias,.turnos, .pacientes{
            margin: 0px 10px;
            height: 100%;
            width: 20%;
            min-width: 300px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow-y: auto;
            border-radius: 5px;
            h2{
                text-align: center;
            }
            button{
                width: 90%;
                height: 30%;
                padding: 0;
                border: none;
                margin: 5%;
                background-size: cover;
                background-position: center;
                border: 1px solid rgb(156, 156, 156);
                h3{
                    width: 100%;
                    height: 20%;
                    text-align: center;
                }
                img{
                    width: 100%;
                    margin: 0;
                    height: 80%;
                }
            }
            .selected{
                border: 3px solid #2c8ab3;
            }
            .d-flex{
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
        .dias,.turnos{
            button{
                height: 10%;
                h3{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}