.container{
    overflow-y: auto;
    max-height: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    min-height: 600px;
}

.lista{
    background-color: #194a60;
    color: white;
}

.lista.active{
    background-color: #2c8ab3;
    color: black;
}