<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Bienvenido</h1>
      <p class="fs-5 text-body-secondary">Seleccione una opción</p>
    </div>
  </header>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center container-fluid">
    <div class="col">
      <div class="card-body">
        <button type="button" class="w-100 btn btn-lg" routerLink="registro-paciente">
          <div class="image-button-container">
            <img src="/assets/images/paciente.jpg">
            <span class="overlay-text">Registrarse como paciente</span>
          </div>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <button type="button" class="w-100 btn btn-lg" routerLink="registro-especialista">
          <div class="image-button-container">
            <img src="/assets/images/ai-generative-portrait-of-confident-male-doctor-in-white-coat-and-stethoscope-standing-with-arms-crossed-and-looking-at-camera-photo.jpg">
            <span class="overlay-text">Registrarse como especialista</span>
          </div>
        </button>
      </div>
    </div>
  </div>
