<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Bienvenido</h1>
      <p class="fs-5 text-body-secondary">Seleccione una opción</p>
    </div>
  </header>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center container-fluid">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="/assets/images/DALL·E-2024-11-01-20.15.png" class="ingresar-img">
          <button type="button" class="w-100 btn btn-lg" routerLink="login">Ingresar</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="/assets/images/paciente.jpg">
          <button type="button" class="w-100 btn btn-lg" routerLink="registro-paciente">Registrarse como Paciente</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <img src="/assets/images/ai-generative-portrait-of-confident-male-doctor-in-white-coat-and-stethoscope-standing-with-arms-crossed-and-looking-at-camera-photo.jpg">
          <button type="button" class="w-100 btn btn-lg" routerLink="registro-especialista">Registrarse como Especialista</button>
        </div>
      </div>
    </div>
  </div>
