.container-fluid{
    width: 100vw;
    height: 94.5vh;
    background-image:url("/assets/images/hospital-bienvenida.jpg");
    background-size: cover;      
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .jumbotron{
        height: 80%;
        background-color: rgba(255, 255, 255, 0.796);
        display: flex;
        h1{
            color: #2c8ab3;
            font-size: 75px;
        }
        p{
            color: black;
            font-size: 35px;
        }
        .opciones{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            button{
                margin: 20px;
                width: 80%;
                height: 15%;
            }
            .btn-primary{
                background-color: #2c8ab3;
                border-color: #2c8ab3;
            }
            .btn-primary:hover{
                background-color: #4190b2;
            }
        }
    }
}