<div class="main-container">
    <div class="row">
        <div class="col-lg-3">
          <div class="card mb-4 profile">
            @if(userData['rol']=='paciente'){
                <div class="card-body">
                    <img [src]="userData['imagen1']" alt="">
                    <img [src]="userData['imagen2']" alt="">
                </div>
            }
            @else{
                <div class="card-body" [style.background-image] = "'url('+userData['imagen']+')'">
                </div>
            }
          </div>
        </div>
        <div class="col-lg-9">
          <div class="card mb-4 profile">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre Completo</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{userData['nombre']}} {{userData['apellido']}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{userData['email']}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Edad</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{userData['edad']}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">D.N.I</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{userData['dni']}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                @if(userData['rol']=='paciente'){
                    <div class="col-sm-3">
                      <p class="mb-0">Obra Social</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{userData['obraSocial']}}</p>
                    </div>
                }
                @else if(userData['rol']=='especialista'){
                    <div class="col-sm-3">
                      <p class="mb-0">Especialidades</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{userData['especialidades']}}</p>
                    </div>
                }
              </div>
            </div>
        </div>
        </div>

        @if(userData['rol']=='especialista' && horariosCargados){
          <div class="col-lg-9">
            <div class="card mb-4 profile">
              <div *ngFor="let especialidad of userData.especialidades">
                <h1>{{especialidad}}</h1>
                <app-form-horarios [horarioEspecialidad] = "especialidad" [listaHorarios] = "horarios"></app-form-horarios>
              </div>
            </div>
          </div>
        }
    </div>
</div>
