<div class="main-container">
    <div class="login-container container-fluid">
        <h2>Iniciar sesión</h2>
        <form>
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" placeholder="Ingresa tu correo" [(ngModel)]="userMail" #mail [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" placeholder="Ingresa tu contraseña" [(ngModel)]="userPWD" #pass [ngModelOptions]="{standalone: true}">
            </div>
        </form>
        <button (click)="Login()">Ingresar</button>
    </div>
    <div class="fab-button-container" #favbuttondiv>
        <button class="fab-button main-fab" (click)="toggleFab()" #favbutton>+</button>
        @for(option of fabOptions; track option.email){
            <button class="fab-button fab-option" (click)="onOptionClick(option)" [style.right] = option.pos>
                <img src={{option.imagen}} alt="">
            </button>
        }
    </div>    
</div>