<div class="card">
    @if(pacientesCargados) {
        <form [formGroup]="filtros" class="filtros">
            @if(userData['rol']=='paciente'){
                <h3>Especialistas</h3>
            <div class="especialistas">
                <div class="form-group" *ngFor="let especialista of especialistas">
                    <input type="checkbox" [id]="especialista.id" [name]="especialista.id" [value] = "especialista.id" [formControlName]="especialista.id">
                    <label [for]="especialista.id" [id]="especialista.id">{{especialista.nombre}} {{especialista.apellido}}</label>
                </div>
            </div>
            }
            @else{
                <h3>Pacientes</h3>
            <div class="pacientes">
                <div class="form-group" *ngFor="let paciente of pacientes">
                    <input type="checkbox" [id]="paciente.id" [name]="paciente.id" [value] = "paciente.id" [formControlName]="paciente.id">
                    <label [for]="paciente.id" [id]="paciente.id">{{paciente.nombre}} {{paciente.apellido}}</label>
                </div>
            </div>
            }
            <h3>Especialidades</h3>
            <div class="especialidades">
                <div class="form-group" *ngFor="let especialidad of especialidades">
                    <input type="checkbox" [id]="especialidad" [name]="especialidad" [value]="especialidad" [formControlName]="especialidad">
                    <label [for]="especialidad">{{especialidad}}</label>
                </div>
            </div>
            <h3>Buscar por Campo</h3>
            <div class="valores">
                <div class="form-group">
                    <label for="campo">Campo: </label>
                    <input type="text" name="campo" formControlName="campo">
                    <label for="valor">Valor: </label>
                    <input type="text" name="valor" formControlName="valor">
                </div>
            </div>
        
            <button (click)="aplicarFiltrosFn()">Aplicar Filtros</button>
        </form>
    }
    @else {
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-info" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
</div>
