.cancelar-container {
    width: 100%;
    max-height: 830px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #ffffff;
    justify-content: center;
    .modal-body{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

textarea{
    width: 100%;
}

.card{
    min-height: 80%;
}

.solicitado{
    background-color: #edff9f;
    color: black;
}
.cancelado{
    background-color: #aaaaaa;
    color: black;
}
.rechazado{
    background-color: #ff9f9f;
    color: black;
}
.aceptado{
    background-color: #9fff9f;
    color: black;
}
.finalizado{
    background-color: #9ffffa;
    color: black;
}